.parsley-errors-list {
    padding-left: 0;
    margin-bottom: 0!important;
    clear: both;
    margin-top: 6px;
    li {
        color: #fff!important;
        background: padding-box red;
        border-radius: 4px;
        display: inline-block!important;
        font-size: 12px;
        font-weight: 600;
        list-style: none;
        margin: 0;
        padding: 2px 10px;
        position: absolute;
        &::after {
            border-bottom: 6px solid red;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            content: "";
            display: inline-block;
            left: 8px;
            position: absolute;
            top: -5px
        }
    }
}

.parsley-error {
    border-color: rgba(255, 0, 0, 0.15) !important;
    background-color: rgba(255, 0, 0, 0.05) !important;
}


/*.input-group {
    .parsley-errors-list {
        position: absolute;
        bottom: 0px;
        width: 100%;
    }
}*/

.otp-container {
    .parsley-errors-list {
        display: none !important;
    }
}
